.expenses__container {
  margin: 0 50px;
}

ul {
  width: 600px;
  margin: 20px auto;
  background: linear-gradient(45deg, rgb(172, 223, 243), rgb(214, 235, 243));
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgb(80, 79, 79);
  padding: 20px;
}

@media (max-width: 992px) {
  .expenses__container {
    margin: 0 20px;
  }
  
  ul {
    width: auto;
  }
}

.sum {
  text-align: right;
  font-size: 2rem;
}

.expenses__container form {
  width: 200px;
  font-size: 1rem;
  text-align: left;
  display: flex;
  flex-direction: row;
}

.expenses__container form select {
  width: 200px;
  margin-right: 20px;
}

@media (max-width: 992px) {
  .expenses__container form {
    flex-direction: column;
    width: 200px;
    margin: auto;
    text-align: center;
  }

  .expenses__container form select {
    margin-right: 0;
  }
}