$primary-dark-blue: rgb(114, 209, 247);
$primary-mid-blue: rgb(172, 223, 243);
$primary-light-blue: rgb(214, 235, 243);
$primary-hover-blue:rgb(28, 148, 196);
$background: rgb(237, 240, 241);
$grey-dark: rgb(4, 4, 26);
$grey-light: rgb(80, 79, 79);
$red: rgb(255, 0, 0);
$red-dark: rgb(124, 11, 11);
$white: rgb(255, 255, 255);
