body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(237, 240, 241);
}

code {
  font-family: 'Roboto', sans-serif;
}


@media (max-width: 992px) {
  h2 {
    text-align: center;
  }
}