body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(237, 240, 241);
  max-width: 1500px;
  margin: 50px auto;
}

@media (max-width: 992px) {
  h2 {
    text-align: center;
  }
}